<div class="container">
  <h4>Checkboxes</h4>

  <p>{{materialize-checkbox label="Red" required=true}}</p>
  <p>{{materialize-checkbox label="Yellow" checked=true required=true}}</p>
  <p>{{materialize-checkbox label="Filled in" class="filled-in" checked=true required=true}}</p>
</div>
