<div class="container">
  <h4>Input Fields</h4>
</div>

<div class="row">
  {{#materialize-form class="col s12" submit=(action "submit")}}
    <div class="row">
      <div class="input-field col s12">
        {{materialize-textfield type="email" label="Email address" required=true errorMessage=errorMessage value=email}}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        {{#materialize-button click=(action "validate")}}Custom Error{{/materialize-button}}
      </div>

      <div class="input-field col s6">
        {{materialize-submit class="btn waves-effect waves-light" value="Submit"}}
      </div>
    </div>
  {{/materialize-form}}
</div>
