<div class="container">
  <h4>Select</h4>

  <div class="row">
    <div class="input-field col s12">
      {{#materialize-select label="Materialize Select"}}
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      {{/materialize-select}}
    </div>
  </div>
</div>
