<div class="container">
  <h4>Select</h4>

  <div class="row">
    <div class="input-field col s12">
      {{materialize-select label="Basic select" options=options1}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {{materialize-select label="Group options select" options=options2}}
    </div>
  </div>
</div>
